/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;

  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --blue-hover-focus-active-color: #188ce8;
  --footer-email-phone-color: rgba(255, 255, 255, 0.6);
}

/* BODY */
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
}

/* logo */
.logo {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* footer logo-part */
.footer-logo {
  color: var(--white-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* site-nav */

.site-nav.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* email + phone number */

.email,
.phone {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.email:hover,
.email:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

/* PORTFOLIO buttons */
.button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--team-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* index HERO заголовок*/
.hero-title {
  color: var(--white-color);
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* index HERO button */
.hero .button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero .button:hover,
.hero .button:focus,
.hero .button:active {
  background-color: var(--blue-hover-focus-active-color);
}

/* ЗАГОЛОВКИ */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* FEATURES */
.features .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* our team */
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .text {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* PORTFOLIO projects list ЗАГОЛОВКИ */
.portfolio-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* PORTFOLIO projects list АБЗАЦЫ */
.portfolio-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* FOOTER */
.post-address {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-email,
.footer-phone {
  color: var(--footer-email-phone-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.post-address:hover,
.post-address:focus,
.footer-email:hover,
.footer-email:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

/* убирает маркеры списков */
.site-nav.list,
.email-phone,
.features,
.section-title.list,
.team,
.footer-address.list,
.portfolio-filter.list,
.portfolio-list {
  list-style: none;
}

/* убирает подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* ФОНЫ */
.page-header,
.main-portfolio,
.section {
  background-color: var(--white-color);
}

.hero {
  background-color: var(--secondary-background-color);
}

.section-team {
  background-color: var(--team-background-color);
}

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background-color: var(--secondary-background-color);
}
